<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD3C1hFI6-gglaPfxMhlz4XdROhf92MTto</string>
	<key>GCM_SENDER_ID</key>
	<string>714235240898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smsm.kw</string>
	<key>PROJECT_ID</key>
	<string>smsm-e0681</string>
	<key>STORAGE_BUCKET</key>
	<string>smsm-e0681.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714235240898:ios:8de8f4f5cd482e4c0cb65b</string>
</dict>
</plist>